body {
    margin: 120px;
    background-image: url("launch_tube.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    left: 20;
}

/* Dropdown Button */
.dropbtn {
    background-color: blue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border:
        bottom 1px blue;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline;
    margin: 2px;
    display: inline-block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.overview-background {
    background-color: rgba(102, 102, 102, 0.486);
    padding: 30px
}


.headings {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}

h1 {
    text-align: center;
    font-size: x-large;
}